body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f7f7f7;
}

main {
    margin-left: 2em;
    margin-right: 2em;
}

.isVisible {
    display: block;
}

.isHidden {
    display: none;
}

.button-primary {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-bottom: 2em;
}

.button-primary:hover {
    background-color: #0056b3;
}

.button-secondary {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #6c757d;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-bottom: 2em;
}

.button-secondary:hover {
    background-color: #5a6268;
}

.isFlexed {
    display: flex;
    flex-wrap: nowrap;
}

.isFlexedWrap {
    display: flex;
    flex-wrap: wrap;
}

input[type="text"] {
    flex-basis: auto;
    flex-grow: 1;
    padding: 10px;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 1em 2em 0;
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}

.custom-select {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 5px;
    width: 200px;
}

#personnages-description img {
    width: 15px;
    height: auto;
}

.modal {
    display: none;
}
.modal-back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba( 0, 0, 0, .25 );
}
.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    background: white;
    transform: translate(-50%, -50%);
}

#personnages-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
}

.card-actions button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-actions button:hover {
    background-color: #0056b3;
}

.banner {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.banner h1 {
    margin: 0;
    font-size: 36px;
}
.banner p {
    font-size: 18px;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;
}
#voir-personnages, #create-personnage-button {
    margin: 0 1em;
}

#detail-personnage img {
    width: 20px;
    height: 20px;
}